<% layout('layouts/boilerplate.ejs') %>
    <div class="container">
        <div class="row">
            <% if (admin) { %>
                <a href="/products/new" class="btn btn-success">Add product</a>
                <% } %>
                    <% for (let row of result) { %>
                        <div class="card col-3 mx-2 my-4 text-center" style="width: 18rem; height: 30rem">
                            <img src="<%=row.image_url%>" class="card-img-top h-50" alt="<%=row.name%>">
                            <div class="card-body">
                                <a href="/products/<%=row.id%>" class="fs-5 fw-bold text-decoration-none text-dark">
                                    <%=row.name%>
                                </a>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <%=row.description%>
                                </h6>
                                <p class="card-text">
                                    $<%=row.cost %>
                                </p>
                                <form action="/cart/<%= row.id %>" method="POST">
                                    <button class="btn btn-primary">Add to cart</button>
                                </form>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>